

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px ;
    margin: 50px 200px;
    

}
.nav-title{
    font-weight: 800;
    font-size: 50px;
    color: #4E47FF;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: 600;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    align-items: center;
}
.banner{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    gap: 20px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
}
.banner-title{
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px ;
    margin: 50px 200px;

}
.banner-font{
    font-size: 40px;
    font-weight: bold;
}

.image-style{
    border-image: 0%;
    width: 400px;
    border-radius: 10%;
}
.context-title{
    font-size: 36px;
    font-weight: bold;
    align-items: center;
}
.context-use{
    font-size: 80px;
    font-weight: bold;
    color: #4778FF;
    margin-right: 158px;
}

.content-style{
    display: flex;
    justify-content: center;
    grid-area: auto;

    
}


.contain-style{
    justify-content: center;
    display: flex;
    margin: 20 30 20 30;
    gap: 30;
}


.concept-title{
    font-size: 50px;
    font-weight: bold;
}

.para-style{
    color: #000000;
}

.pic-style{
    justify-content: center;
    width: 840px;
    border-radius: 5%;
}

.concept-style{
    align-items: center;
}


.footer-title{
    font-size: 98px;
    font-weight: bold;
}

footer{
    padding: 130px 230px;
    display: flex;
    gap: 130px;
}
.footer-column{
    width: 50%;
}

.logo-style{
    font-size: 80px;
    font-weight: bolder;
    color: #4E47FF;
    padding: 130px;
    align-items: center;
}

div ul li{
    list-style: none;

}
div li a{
    text-decoration: none;
}

.end-style{
    display: flex;
    margin-right: 10px;
}
.end-line{
    display: flex;
}
.end-fashion{
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30;
}

.btn-line{
    align-items: center;
}