

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px ;
    margin: 50px 200px;
    

}
.nav-title{
    font-weight: 800;
    font-size: 50px;
    color: #4E47FF;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: 600;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    align-items: center;
}
.banner{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    gap: 20px;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
}
.banner-title{
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px ;
    margin: 50px 200px;

}
.banner-font{
    font-size: 40px;
    font-weight: bold;
}

.image-style{
    border-image: 0%;
    width: 400px;
    border-radius: 10%;
}
.context-title{
    font-size: 36px;
    font-weight: bold;
    align-items: center;
}
.context-use{
    font-size: 80px;
    font-weight: bold;
    color: #4778FF;
    gap: 137;
}

.content-style{
    display: flex;
    justify-content: center;
    grid-area: auto;

    
}


.contain-style{
    display: flex;
    justify-content: center;
}
